<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <ul class="hidden-sm hidden-xs list-inline pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/plugins">Plugins</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="site-info">
        Copyright &copy; 2016 <a href="https://binaty.org">Binaty</a>
      </div><!-- .site-info -->
    </div>
  </div>
</footer><!-- #colophon -->