<header id="masthead" class="site-header" role="banner">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <div class="menu-primary-container">
            <ul id="primary-menu" class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/plugins">Plugins</a></li>
              <li><a href="/docs">Docs</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>					
        </nav><!-- #site-navigation -->

        <div class="site-branding">
          <h1 class="site-title"><a href="/" rel="home">binaty</a></h1>
        </div><!-- .site-branding -->

      </div>

    </div>
  </div><!--.container-->
</header><!-- #masthead -->
